doctype html
head
  meta(charset="utf-8")
  title Home
  <script src="https://use.fontawesome.com/525ca23e8d.js"></script>
  link(rel="stylesheet", href="css/style.css")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type='text/javascript', src='js/script.js', attr)

    
  
  
body
  //navigation bar 
  nav.global.flex.flex--space-around.align-center
    .logo
      h1 DUTTY BURGER
    .links.flex.flex--center.align-center
      a(href="")
        span Home
      a(href="")
        span about
      a(href="")
        span menu
      a(href="")
        span contact
    
  //containing the images that will fade in and out
  .img-locker.flex.flex--center.align-center.posr
    .overlay.posa.flex.flex--center.align-center.columns
      .title.flex.flex--center.align-center.columns
        i.fa.fa-heart
        h1 made with love
        hr 
        span Taste the difference
      
  section.features.flex.flex--center.align-center.rows
    .unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook
      h1 Daily Fresh
      p All of our <strong> delicious</strong> sandwiches are made to order and cooked directly in front of our customers
      span.button see menu
    .unit.flex.flex--center.align-center.columns
      i.fa.fa-truck
      h1 Delivered To You
      p We deliver straight to you, we guarantee to deliver within 30 minutes after you pressed the order now button.
      span.button see menu
    .unit.flex.flex--center.align-center.columns
      i.fa.fa-calender
      h1 Upcoming Events
      p We take pride in our community and we love 
      span.button see menu
    .unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook
      h1 Daily-fresh
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, consectetur!
      span.button see menu
    .unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook
      h1 Daily-fresh
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, consectetur!
      span.button see menu
  section.our-process.flex.flex--center.align-center.rows
    .img.i
    .writing.i
      h1 Welcome
      hr 
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aut harum laboriosam minus qui, ad accusamus doloremque, maiores nisi hic placeat quam nulla sapiente temporibus suscipit officia nesciunt accusantium pariatur laudantium ut, tempora. Id, tenetur numquam vero beatae, repudiandae architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span.button explore us
  section.main-menu.flex.flex--center.align-center.columns
    .title.flex.flex--center.align-center.columns
      h1.main-menu-title MAIN MENU
    .menus.flex.flex--center.align-center
      span.btn-filter.breakfast breakfast
      span.btn-filter.lunch lunch
      span.btn-filter.dinner dinner
    p Click on the buttons to display the other menus
  section.lunch.flex.flex--start.align-center  
    h1 lunch
  section.dinner.flex.flex--start.align-center
    h1 dinner
  section.breakfast.flex.flex--start.align-center
    .special.flex-unit-order.flex.flex--center.align-center
      .title.flex.flex--center.align-center.columns
        h1 HAM PEPPERONI & CHESSE 
        span on sourdough bread 
        hr
        .img.posr
          .overlay.posa
          
        p ingrediants include black pepppered pepperoni with an addition and honey glazed ham and lightly heated and melted cheddar cheese
        span.order.btn order now
    .magic-sandwiches.flex.flex--start.align-start.columns
      h1 Other orders
        .border
      span.reee Prepped, customised and made to order
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 Layered King
              span.number 16.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients layered ham, bacon, onions & cheese
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 garden salad
              span.number 6.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients iceburg lettuce, fresh tomatoes, watered cucumbers
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 bacon & cheese
              span.number 6.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients smoked bacon and cheddar cheese
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 ham salad
              span.number 6.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients honey glazed ham, iceburg lettuce, fresh tomatoes
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 tuna, mayo & sweetcorn
              span.number 6.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients brine marinated tuna, seasoned signature mayo & fresh sweetcorn
      .row.flex.flex--space-around.align-start
        .complete-menu-item.flex.flex--center.align-center.columns
          .title-price.flex.flex--space-between.align-center
            h4 steak , cheese & bacon
              span.number 6.00
              .btm.flex.flex--start.align-start.columns
                span.ingredients seared steak, smoked cheddar cheese, bacon  
      
      
